<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VjencanjeIzSnova_July</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VjencanjeIzSnova_July.styles.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="~/images/logo.png" style="height: 40px; margin-right: 10px;">
                Vjenčanje iz snova
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Vjenčanje iz snova</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2 active" aria-current="page" href="/">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Kategorije</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Moj planer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-lg-2" href="#">Kontakt</a>
                        </li>
                    </ul>
                    <div class="button-container mt-3 mt-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <!-- Ako je korisnik prijavljen prikazat će se sljedeći buttoni -->
                            <a href="/notifications" class="btn btn-primary">Notifications</a>
                            <a href="/profile" class="btn btn-secondary">Profile</a>
                            <form asp-controller="Account" asp-action="Logout" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Logout</button>
                            </form>
                        }
                        else
                        {
                            <!-- Ako korisnik nije prijavljen -->
                            <a href="/login" class="login-button btn-primary">Login</a>
                            <a href="/Account/Registracija" class="login-button btn-secondary">Registracija</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5 pt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container" align="center">
            &copy; 2024 - VjencanjeIzSnova_July - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
