@model VjencanjeIzSnova_WebApp.ViewModels.LoginViewModel

<title>Prijava</title>

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #b05059;">
            <div class="featured-image mb-3">
                <i class="bi bi-box-arrow-in-right"></i>
            </div>
            <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Prijavite se</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Organizacija vjenčanja nikad nije bila lakša.</small>
        </div>

        <div class="col-md-6 right-box">
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="row align-items-center">
                    <div class="header-text mb-4">
                        <h2>Dobrodošli!</h2>
                        <p>Drago nam je vidjeti Vas opet.</p>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Email" type="email" class="form-control form-control-lg bg-light fs-6" placeholder="Email adresa" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-1">
                        <input asp-for="Password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Lozinka" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                        </div>
                        <div class="forgot">
                            <small><a href="#">Zaboravili ste lozinku?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6" style="background: #c0737a">Login</button>
                    </div>
                    <div class="row">
                        <small>Nemate korisnički račun? <a asp-controller="Account" asp-action="Registracija">Registrirajte se</a></small>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
