@model VjencanjeIzSnova_WebApp.Models.Usluga

@{
    ViewData["Title"] = "Nova usluga";
    Layout = "_LayoutPartner";
}


<h1>Kreiraj novu uslugu</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Kreiraj" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label asp-for="KategorijaId" class="control-label">Kategorija</label>
                <select asp-for="KategorijaId" class="form-control" asp-items="ViewBag.Kategorija"></select>
            </div>

            <div class="form-group">
                <label asp-for="KontaktMail" class="control-label"></label>
                <input asp-for="KontaktMail" class="form-control" />
                <span asp-validation-for="KontaktMail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CjenovniRang" class="control-label"></label>
                <input asp-for="CjenovniRang" class="form-control" />
                <span asp-validation-for="CjenovniRang" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="InfoOKompaniji" class="control-label"></label>
                <textarea asp-for="InfoOKompaniji" class="form-control"></textarea>
                <span asp-validation-for="InfoOKompaniji" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Detalji" class="control-label"></label>
                <div class="d-flex align-items-center">
                    <div id="detalji-container" class="flex-grow-1">
                        <input type="text" class="form-control" name="Detalji[]" multiple />
                    </div>
                    <button type="button" id="dodaj-novi-detalj" class="btn btn-secondary ml-2">+</button>
                    <span asp-validation-for="Detalji" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <textarea asp-for="Opis" class="form-control"></textarea>
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>


            <div class="form-group">
                <div class="d-flex align-items-center">
                    <label for="Slike" class="mr-2">Slike: </label>
                    <div id="image-container" class="flex-grow-1">
                        <input type="file" name="SlikeFiles" class="form-control" multiple />
                    </div>
                    <button type="button" id="dodaj-jos-slika" class="btn btn-secondary ml-2">+</button>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Kreiraj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Nazad na listu</a>
</div>

<script>
    document.getElementById('dodaj-novi-detalj').addEventListener('click', function () {
        var container = document.getElementById('detalji-container');
        var input = document.createElement('input');
        input.type = 'text';
        input.className = 'form-control';
        input.name = 'Detalji[]';
        container.appendChild(input);
    });

    document.getElementById('dodaj-jos-slika').addEventListener('click', function () {
        var container = document.getElementById('image-container');
        var input = document.createElement('input');
        input.type = 'file';
        input.name = 'SlikeFiles';
        input.className = 'form-control';
        container.appendChild(input);
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
